doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap-3.3.2-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://cdn.firebase.com/js/client/1.1.1/firebase.js")
  body
    nav.navbar.navbar-default
      h3 Chatterbox Planning Poker
    section.container
      block content
    script(type='text/javascript', src='/javascripts/app-bundled.js')