option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public
    option_name: /stylesheets
    value: /public/stylesheets
    option_name: /javascripts
    value: /public/javascripts
    option_name: /images
    value: /public/images
  - option_name: NODE_ENV
    value: production