option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /stylesheets/
    value: /public/stylesheets/
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public/
    value: /public/
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /javascripts/
    value: /public/javascripts/
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /images/
    value: /public/images/
  - option_name: NODE_ENV
    value: production