@import 'bourbon';

#f1_container {
  position: relative;
  width: 60px;
  height: 80px;
  margin-left: 10px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}
#f1_container {
  @include perspective(1000px);
}
#f1_card {
  width: 100%;
  height: 100%;
  @include transform-style(preserve-3d);
  @include transition(all .3s linear);
}
#f1_container.flipped #f1_card {
  @include transform(scale(1.1) rotateY(180deg));
  @include prefixer(box-shadow, 0 0 5px rgba(0,0,0,.3), webkit moz spec);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  @include backface-visibility(hidden);
}
#f1_container.flipped.selected {
  z-index: 999;

  #f1_card {
    @include transform(scale(1.5) rotateY(180deg));
  }
}
.face.back {
  display: block;
  @include transform(rotateY(180deg));
  @include box-sizing(border-box);
  color: white;
  text-align: center;
  background-color: #aaa;
}