input,button{
  margin:0 5px;
}

a:hover, button:hover {
  cursor: pointer;
  text-decoration: none;
}

.card-wrapper .selected-indicator {
  position: absolute;
  left: 0;
  bottom: 4px;
}

nav {
  h3 {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 20px;
  }
}