@import 'bourbon';

.planning-card {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #666;
  text-align: center;

  .front {
    background: blue;
    color: white;
    font-size: 24px;
  }

  .back {
    font-size: 24px;
    background: white;
    color: black;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.modal-body {
  padding: 0 15px;
  position: relative;

  img {
    width: 200px;
    bottom: -20px;
    right: 0;
    position: absolute;
  }
}

.room-heading, .poker-hand {
  margin-bottom: 40px;
}

.poker-hand {
  list-style-type: none;
  padding: 0;
}

.poker-hand li {
  display: inline-block;

  .glyphicon {
    color: green;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
}

.room-user-list {
  margin-top: 20px;
  list-style-type: none;

  .awesome {
    display: none;
  }
}

.results-table {
  tr.mode {
    background: #b3d7fd;
    font-weight: bold;
  }
}

.room-user-list li {
  display: inline-block;
  clear: both;
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;

  .username {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-bottom: -5px;
    text-overflow: ellipsis;
  }

  #f1_container {
    margin-top: 10px;
  }

  .glyphicon {
    position: inherit;
  }

  &.user-selected {
    .planning-card {
      .front {
        background: green;
      }
    }
  }
}

.poker-hand {
  position: relative;
  z-index: 1;
}

.card-wrapper {
  margin-bottom: 10px;
}

.card-wrapper .selected-indicator {
  position: absolute;
  left: 0;
  bottom: 4px;
}