input,button{
  margin:0 5px;
}

a:hover, button:hover {
  cursor: pointer;
  text-decoration: none;
}

.planning-card {
  width: 50px;
  background: white;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.poker-hand {
  list-style-type: none;
}

.poker-hand li {
  display: inline-block;
}

.room-user-list {
  margin-top: 20px;
  list-style-type: none;
}

.room-user-list li {
  clear: both;
  width: 300px;
  padding: 10px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}

.room-user-list li:hover {
  background-color: #add1f6;
}

.room-user-list .planning-card {
  float: right;
}

.rooms-list {
  list-style-type: none;
  padding: 0;
}

.rooms-list li {
  margin-bottom: 10px;
  width: 200px;
  position: relative;
}

.rooms-list li .btn-danger {
  position: absolute;
  right: 0;
}

.card-wrapper {
  position: relative;
}

.card-wrapper .selected-indicator {
  position: absolute;
  left: 0;
  bottom: 4px;
}